## 11. 从文件中读取DataFrame，从DataFrame导出到文件

In [1]:
import pandas as pd

#### 1. 从文件中读取DataFrame

##### 1.1 读取CSV文件

In [4]:
APPL_price = pd.read_csv("data/AAPL_daily_closing_prices.csv",index_col=0) # 以第1列作为索引列,在本例中是日期列
APPL_price.head()

               open      high       low   close      volume
2025-06-27  201.890  203.2200  200.0000  201.08  73188571.0
2025-06-30  202.010  207.3900  199.2607  205.17  91912816.0
2025-07-01  206.665  210.1865  206.1401  207.82  78788867.0
2025-07-02  208.910  213.3400  208.1400  212.44  67941811.0
2025-07-03  212.145  214.6500  211.8101  213.55  34955836.0

##### 其他文件：
1. Excel文件：pd.read_excel()
2. JSON文件：pd.read_json()

#### 2. 将DataFrame导出到文件

##### 2.1 导出到CSV文件

In [5]:
APPL_price.to_csv("data/APPL_price_exported.csv",index=True) # index=True表示导出索引列

##### 其他文件：
1. Excel文件：df.to_excel()
2. JSON文件：df.to_json()