## 4. 数据前置检查和处理

##### 1. 导入数据

In [2]:
import pandas as pd

df = pd.read_csv('../../02 Programming for Data Science/LO3/autompg.csv')

#### 2. 数据预览
查看数据的前几行和后几行，了解数据的基本结构和内容。

In [4]:
df.head(10)

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino
5  15.0    8  429.0  198    4341   10.0  70       1           ford galaxie 500
6  14.0    8  454.0  220    4354    9.0  70       1           chevrolet impala
7  14.0    8  440.0  215    4312    8.5  70       1          plymouth fury iii
8  14.0    8  455.0  225    4425   10.0  70       1           pontiac catalina
9  15.0    8  390.0  190    3850    8.5  70       1         amc ambassador dpl

In [5]:
df.tail(10)

,mpg,cyl,displ,hp,weight,accel,yr,origin,name
382,26.0,4,156.0,92,2585,14.5,82,1,chrysler lebaron medallion
383,22.0,6,232.0,112,2835,14.7,82,1,ford granada l
384,32.0,4,144.0,96,2665,13.9,82,3,toyota celica gt
385,36.0,4,135.0,84,2370,13.0,82,1,dodge charger 2.2
386,27.0,4,151.0,90,2950,17.3,82,1,chevrolet camaro
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

#### 3. 查看数据的基本信息
使用 .info() 方法查看数据的基本信息，包括数据类型、非空值数量等。<br>
使用场景：
1. 哪些列存在 Nan 缺失值
2. 每列的数据类型是否正确

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     392 non-null    float64
 1   cyl     392 non-null    int64
 2   displ   392 non-null    float64
 3   hp      392 non-null    int64
 4   weight  392 non-null    int64
 5   accel   392 non-null    float64
 6   yr      392 non-null    int64
 7   origin  392 non-null    int64
 8   name    392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

#### 4. 统计描述
使用 .describe() 方法查看数值型数据的统计描述信息，如均值、标准差、最小值、最大值等。<br>
使用场景：
1. 快速发现数据的异常值 outlier
2. 判断数据分布是否合理，如均值和中位数的差异
3. 是否存在明显的错误数据，比如负值等和极大值

In [7]:
df.describe()

,mpg,cyl,displ,hp,weight,accel,yr,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

#### 5. 查看列明和数据维度
使用 .columns 属性查看数据的列名，使用 .shape 属性查看数据的维度（行数和列数）。<br>
使用场景：
1. 了解数据的结构
2. 确认数据的行列数量是否符合预期

In [8]:
df.shape

(392, 9)

In [9]:
df.columns

Index(['mpg', 'cyl', 'displ', 'hp', 'weight', 'accel', 'yr', 'origin', 'name'], dtype='object')

#### 6. 检查数据类型
使用 .dtypes 属性查看每列的数据类型。<br>
使用场景：
1. 确认每列的数据类型是否正确
2. 发现数据类型不匹配的问题，比如数值型数据被错误地识别为字符串类型

In [11]:
df.dtypes

mpg       float64
cyl         int64
displ     float64
hp          int64
weight      int64
accel     float64
yr          int64
origin      int64
name       object
dtype: object

#### 7. 检查缺失值
使用 .isna()方法检查每列的缺失值数量；返回值为布尔值的 DataFrame，表示每个元素是否为缺失值。<br>
使用 .isna().sum() 可以统计每列的缺失值数量。<br>
使用场景：
1. 了解数据中缺失值的分布情况
2. 决定是否需要进行缺失值处理，如填充或删除

In [20]:
df.isna().sum()

mpg       0
cyl       0
displ     0
hp        0
weight    0
accel     0
yr        0
origin    0
name      0
dtype: int64

#### 8. 检查重复值
使用 .duplicated() 方法检查数据中的重复行数量；返回值为布尔值的 Series，表示每行是否为重复行。<br>
使用 .duplicated().sum() 可以统计重复行的数量。<br>
使用场景：
1. 了解数据中重复值的情况
2. 决定是否需要删除重复值
3. 确保数据的唯一性

In [18]:
df.duplicated().sum()

np.int64(0)