## 5.1 数据清洗 - 处理数据类型和格式

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../02 Programming for Data Science/LO3/autompg.csv')
df.head(10)

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino
5  15.0    8  429.0  198    4341   10.0  70       1           ford galaxie 500
6  14.0    8  454.0  220    4354    9.0  70       1           chevrolet impala
7  14.0    8  440.0  215    4312    8.5  70       1          plymouth fury iii
8  14.0    8  455.0  225    4425   10.0  70       1           pontiac catalina
9  15.0    8  390.0  190    3850    8.5  70       1         amc ambassador dpl

#### 1. 查看数据类型
1. 使用 dtypes 属性查看每列的数据类型。
2. 使用 info() 方法查看 DataFrame 的整体信息，包括每列的数据类型和非空值数量。

In [2]:
df.dtypes

mpg       float64
cyl         int64
displ     float64
hp          int64
weight      int64
accel     float64
yr          int64
origin      int64
name       object
dtype: object

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     392 non-null    float64
 1   cyl     392 non-null    int64
 2   displ   392 non-null    float64
 3   hp      392 non-null    int64
 4   weight  392 non-null    int64
 5   accel   392 non-null    float64
 6   yr      392 non-null    int64
 7   origin  392 non-null    int64
 8   name    392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

#### 2. 数据类型转换核心方法

##### 2.1 使用 astype() 方法转换数据类型
注意：
1. 转换为数值类型时，如果存在无法转换的值，会抛出错误。
2. 不适合直接对脏数据进行转换。

##### 2.2 使用 to_numeric() 方法转换为数值类型

In [8]:
pd.to_numeric(df['hp'], errors='coerce')

0      130
1      165
2      150
3      150
4      140
      ...
387     86
388     52
389     84
390     79
391     82
Name: hp, Length: 392, dtype: int64

##### 2.3 使用 to_datetime() 方法转换为日期时间类型

#### 3. 处理字符串格式
使用 .str 访问器，可以对字符串列进行各种操作。

##### 3.1 去除字符串的空白字符

In [10]:
df["name"] = df["name"].str.strip()

##### 3.2 字符串的大小写转换

In [11]:
df["name"] = df["name"].str.lower()

##### 3.3 特殊字符的替换

In [12]:
df["name"] = df["name"].str.replace(",", " ")