## 5.2 数据清洗 - 处理重复值

In [5]:
import pandas as pd

df = pd.read_csv('../../02 Programming for Data Science/LO3/autompg.csv')
df.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

#### 1. 检测重复值
使用 duplicated() 方法，返回一个布尔值的 Series，表示每行是否为重复值。

In [2]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
387    False
388    False
389    False
390    False
391    False
Length: 392, dtype: bool

In [3]:
df.duplicated().sum()

np.int64(0)

#### 2. 删除重复值
使用 drop_duplicates() 方法，删除重复行。
方法参数：
1. subset: 指定用于检测重复值的列，默认使用所有列，指定了列后，只会考虑这些列的值来判断是否重复。
2. keep: 指定保留哪一行，'first'（默认值）保留第一次出现的行，'last' 保留最后一次出现的行，False 删除所有重复行。
3. inplace: 是否在原 DataFrame 上进行修改，默认 False。

In [6]:
df.drop_duplicates(
    subset=["mpg", "cyl", "displ", "hp"],
    keep='first',
    inplace=False
)

,mpg,cyl,displ,hp,weight,accel,yr,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10